* {
    background-color: orange;
}

body {
    display: flex;
    height: 100vh;
}

.mobile,
.tablet,
.pc {
    margin: auto;
    font-size: 100px;
    color: #fff;
    display: none;
}

/* Mobile: width < 740 */
@media only screen and (max-width: 739px) {

}

/* Tablet: width >= 740px and width <1024 */
@media only screen and (min-width: 740px) (max-width: 1023px) {
    
}

/* PC: width >= 1024px */
@media only screen and (min-width: 1024) {
    
}